.headline
{
    text-align: center;
    height: 90px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    padding: 2%;
}
.form
{
    padding: 1%;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }