.profile {
    width: 70px;
    float: left;
    border-radius: 50%;
}
.addLogo {
    width: 20px;
    
}
.btn-sm {
    background-color: #aca2e3c3;
    margin-top: 7%;
}

.chats-title {
    float: left;
    padding-left: 7%;
    border-right: 1px solid #eee;
}
 
.col-5 {
    background: -webkit-linear-gradient(#0072ff, #8811c5); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*width: 100%;*/
    padding-top: 8%;
    float: left;
    font-weight: bold;
    font-size: larger;
}

.modal-header {
    background: -webkit-linear-gradient(#0072ff, #8811c5); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.addbutton {
    background-color: #aca2e3c3;
}
.user {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    border-right: 1px solid #eee;
}