.img-thumbnail {
    width: 70px;
    height: 70px;
    float: left;
    padding: 0rem;
    border: 0ch;
    border-radius: 50%;
}

.mb-1 {
    margin-bottom: 0rem;
    padding-top: 7%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.text {
    padding-top: 0%;
}

.justify-content-between {
    width: 100%;
    margin-right: 0rem;
}
.text-muted {
    float: right;
    font-size: small;
}

.maintext {
    margin-left: 3%;
}

.list-group-item:hover {
    background: -webkit-linear-gradient(#aca2e3c3, #E0FFFF);
}