.img-thumbnail {
    width: 50px;
    height: auto;
    float: left;
    padding: 0rem;
    border: 0ch;
    border-radius: 50%;
}
.mb-1 {
    padding-top: 10%;
}
.text-muted {
    padding-top: 5%;
}
.maintext {
    margin-left: 3%;
}
.list-group-item:hover {
    background: -webkit-linear-gradient(#aca2e3c3, #E0FFFF);
}