.positionBotton {
    position : absolute;
    bottom   : 0;
    margin-bottom: 1%;
}
.msg{
    text-align: left;
    width: 30%;
}
.restMsg{
    width: 70%;
}
.msg-from{
    /*margin-left: 68%;*/
    margin-left: 70%;
}
label {
    float: right;
    font-size: small;
   
}
.screenChats-content-msgs{
    overflow-y: scroll;
    height: 80vh;
   
}
.send-msg{
    padding-right: 30px;
}
.input-group{
    width:auto;
}