.screenChats-content-msgs{
    overflow-y: auto;
    height: 80vh;
   
}
.profileBar {
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 2%;
    height: 20%;

    background: -webkit-linear-gradient(#0072ff, #8811c5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.col-11{
    padding-top: 2%;
    
}
.col-11 > h3{
    float: left;
}
.imageProfile{
    border-radius: 50%;
}

