
/*for media button*/
.dropdown-menu > li {
    float: left;
}
.dropdown-menu{
    min-width: 10rem;
}

/*for the send message Bar*/
.input-group{
    width:auto;
    margin: 2%;
    margin-top: 60px;
}

/*for audio modal*/
#startRecord{
    border-radius: 10%;
    border: 0px;
}
#stopRecord{
    border-radius: 10%;
    border: 0px;
}