.input-group {
    margin: 50px;
}

.col-lg-5 {
    margin-top: 5%;
}
.form
{
    padding: 1%;
}
.form-content
{
    background-color: white;
    padding-top: 5%;
    border: 1px solid #fff;
    margin-bottom: 2%;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radioValidation{
    margin-left: 1em;
}